#footer {
  height: auto;
  background: #1b1717;
  margin-top: 30px;
  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 50px 50px;
    .footer-left {
      color: #fff;
      .title {
        margin-bottom: 15px;
        h5 {
          font-weight: 900;
          font-size: 25px;
          line-height: 29px;
        }
      }
      .desc {
        p {
          font-weight: 400;
          font-size: 17px;
          line-height: 25.5px;
          width: 400px;
        }
      }
      .socila-media {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
      }
    }
    .footer-center {
      color: #fff;
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: center;
      align-items: center;
      .title {
        margin-bottom: 15px;
        h5 {
          font-weight: 900;
          font-size: 25px;
          line-height: 29px;
        }
      }
      ul {
        list-style-type: none;
        li {
          font-weight: 400;
          line-height: 25.5px;
          font-size: 17px;
          margin-top: 15px;
        }
      }
    }
    .footer-right {
      color: #fff;
      display: flex;
      flex-direction: column;
      text-align: start;
      justify-content: center;
      align-items: start;
      .title {
        margin-bottom: 10px;
        h5 {
          font-weight: 900;
          font-size: 25px;
          line-height: 29px;
        }
      }
      p {
        margin-top: 15px;
      }
      input {
        margin-top: 30px;
        background: rgba(255, 255, 255, 0.25);
        border: none;
        padding: 20px 15px;
        width: 312px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;
        &:focus {
          outline: none;
        }
      }
      button {
        margin-top: 40px;
        padding: 25px 50px;
        background: #757575;
        color: white;
        font-weight: 600;
        border: none;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  .foot {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 20px 0;
    text-align: center;
    color: #fff;
  }
}
